# Auto detect text files and perform LF normalization
* text=auto
*.vuforia.engine filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*tgx.meta filter=lfs diff=lfs merge=lfs -text
